<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favorite Songs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label class="labelDivider"> List of Favorites #1 (Array of Strings) </ion-label>
      </ion-item-divider>
      <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
      <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
      <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
        <ion-item *ngFor="let song of songs1; ">
          <ion-label> {{ song }} </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label class="labelDivider"> List of Favorites #2 (Array of Isong)</ion-label>
      </ion-item-divider>
      <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
      <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
      <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
        <ion-list-header lines="inset">
          <ion-label class="itemHeader" position="fixed">Id</ion-label>
          <ion-label class="itemHeader">Title</ion-label>
          <ion-label class="itemHeader">Artist</ion-label>
          <ion-label class="itemHeader">Genre</ion-label>
        </ion-list-header>
        
        <ion-item *ngFor="let song of songs2; ">
          <ion-label position="fixed"> {{ song.id }} </ion-label>
          <ion-label> {{ song.title }} </ion-label>
          <ion-label> {{ song.artist }} </ion-label>
          <ion-label>
            <ion-icon aria-hidden="true" name="{{song.icon}}" slot="start">
            </ion-icon> {{ song.genre }} 
            <ion-icon src="{{ song.iconsrc }}"></ion-icon>
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-item-group>
  </ion-list>
  <br>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content> -->
