ion-item-divider {
    --background: #19422d;
    --color: #fff;
  
    --padding-top: 1px;
    --padding-bottom: 1px;
    --padding-start: 20px;
    --padding-end: 20px;
  }

  .labelDivider {
    font-size: 17px;
  }
  
  .itemHeader {
    font-size: 15px;
    font-weight: bold;
  }